<div class="treecate-wrapper">
    <div class="treecate-list">
        <div class="parent-cate">
            <a href="javascript:;" title="ROOT"><span><strong>ROOT</strong></span></a>    
			<div>
				<a href="javascript:;" title="Vietnamese">Vietnamese</a>
				<div class="sub-cate">
					<div>
						<a class="cate-title" href="#" title="Nội dung">Nội dung</a>
						<a href="#" class="cate-attr cate-status" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Active"><i class="fa-regular fa-circle-check"></i></i></a>
						<a href="#" class="cate-attr cate-edit badge text-bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Chỉnh sửa"><i class="fa-regular fa-pen-to-square"></i></a>
						<div class="sub-cate">
							<div>
								<a class="cate-title" href="#" title="Giới thiệu">Giới thiệu</a>
								<a href="#" class="cate-attr cate-status" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Active"><i class="fa-regular fa-circle-check"></i></i></a>
								<a href="#" class="cate-attr cate-edit badge text-bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Chỉnh sửa"><i class="fa-regular fa-pen-to-square"></i></a>
								<a href="#" class="cate-attr cate-remove badge text-bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Xóa"><i class="fa-regular fa-trash-can"></i></i></a>
							</div>
							<div>
								<a class="cate-title" href="#" title="Liên hệ">Liên hệ</a>
								<a href="#" class="cate-attr cate-status disable" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Inactive"><i class="fa-regular fa-circle-xmark"></i></a>
								<a href="#" class="cate-attr cate-edit badge text-bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Chỉnh sửa"><i class="fa-regular fa-pen-to-square"></i></a>
							</div>
							<div>
								<a class="cate-title" href="#" title="Tin tức">Tin tức</a>
								<a href="#" class="cate-attr cate-status" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Active"><i class="fa-regular fa-circle-check"></i></i></a>
								<a href="#" class="cate-attr cate-edit badge text-bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Chỉnh sửa"><i class="fa-regular fa-pen-to-square"></i></a>
								<div class="sub-cate">
									<div>
										<a class="cate-title" href="#" title="Mới cập nhật">Mới cập nhật</a>
										<a href="#" class="cate-attr cate-status disable" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Inactive"><i class="fa-regular fa-circle-xmark"></i></i></a>
										<a href="#" class="cate-attr cate-edit badge text-bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Chỉnh sửa"><i class="fa-regular fa-pen-to-square"></i></a>
										<a href="#" class="cate-attr cate-remove badge text-bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Xóa"><i class="fa-regular fa-trash-can"></i></i></a>
									</div>
								</div>
							</div>
							<div>
								<a class="cate-title" href="#" title="Hình ảnh">Hình ảnh</a>
								<a href="#" class="cate-attr cate-status" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Active"><i class="fa-regular fa-circle-check"></i></i></a>
								<a href="#" class="cate-attr cate-edit badge text-bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Chỉnh sửa"><i class="fa-regular fa-pen-to-square"></i></a>
							</div>
							<div>
								<a class="cate-title" href="#" title="Video">Video</a>
								<a href="#" class="cate-attr cate-status" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Active"><i class="fa-regular fa-circle-check"></i></i></a>
								<a href="#" class="cate-attr cate-edit badge text-bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Chỉnh sửa"><i class="fa-regular fa-pen-to-square"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<a href="javascript:;" title="English">English</a>
				<div class="sub-cate">
					<div>
						<a class="cate-title" href="#" title="Content">Content</a>
						<div class="sub-cate">
							<div>
								<a class="cate-title" href="#" title="About Us">About Us</a>
							</div>
							<div>
								<a class="cate-title" href="#" title="Contact">Contact</a>
							</div>
							<div>
								<a class="cate-title" href="#" title="News">News</a>
							</div>
							<div>
								<a class="cate-title" href="#" title="Images">Images</a>
							</div>
							<div>
								<a class="cate-title" href="#" title="Video">Video</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>