/***************************************************
	fonts
***************************************************/
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Moon+Dance&display=swap');

/***************************************************
	body
***************************************************/
:root {
  --rs-color: #EE31F7;
  --rs-color-tpl: #AC51FA;
  --rs-color-rgb: 238, 49, 247;
  --rs-color-tpl-rgb: 172, 81, 250;

  --rs-color-sub: #460402;
  --rs-color-sub-tpl: #080809;
  --rs-color-body: #363739;
  --rs-color-gray: #808080;
  --rs-color-smoke: #f6f6f6;

  --rs-fw-medium-small: 500;
  --rs-fw-medium: 600;
  --rs-fw-bold: 700;

  --rs-border-color: #e6e6e6;

  --rs-line-height: 1.4258;
  --rs-line-height-body: 28px;

  --rs-font-family: "Inter", sans-serif;
  --rs-font-family-heading: "Inter", sans-serif;
}
body{
	font-family: var(--rs-font-family);
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

/***************************************************
	overwrite boostrap
***************************************************/
a{
	text-decoration: none;
}
a:hover,
a:focus{
	color: var(--rs-color);
}
h1, h2, h3, h4, h5, h6{
	line-height: var(--rs-line-height);
}
.form-control{
	box-shadow: none !important;
}
.gradient-text{
	color: var(--rs-color);
	background: -webkit-linear-gradient(#EE31F7 0%, #AC51FA 100%);
	background: -o-linear-gradient(#EE31F7 0%, #AC51FA 100%);
	background: linear-gradient(#EE31F7 0%, #AC51FA 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.color-theme{
	color: var(--rs-color);
}
.color-theme-tpl{
	color: var(--rs-color-tpl);
}
.color-theme-intro{
	color: var(--rs-color-gray);
}
.fz-13px{
	font-size: 13px;
	line-height: 22px;
}
.btn-theme{
	background-color: var(--rs-color-tpl);
	border-color: var(--rs-color-tpl);
	color: #fff;
	border-radius: 0;
}
.btn-theme:hover,
.btn-theme:focus{
	background-color: #fff;
	border-color: var(--rs-color-tpl);
	color: var(--rs-color-tpl);
}
.row-style{
	gap: 40px 0;
}
@media screen and (max-width: 767px){
	.btn-theme{
		font-size: 13px;
	}	
	.row-style{
		gap: 40px 0;
	}
}

.form-control::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 1;
}
.form-control:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 1;
}
.form-control::-ms-input-placeholder,
input::-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 1;
}
.form-control::placeholder,
input::placeholder {
  color: #aaaaaa;
  opacity: 1;
}

/***************************************************
	header - logo
***************************************************/
.navbar-brand{
	padding-bottom: .5rem;
	padding-top: .5rem;
}
.navbar-brand img{
	height: 40px;
}

/***************************************************
	header - menu
***************************************************/
.navbar-toggler{
	padding-left: .5rem;
	padding-right: .5rem;
	border-color: rgba(var(--rs-color-tpl-rgb),.55);
}
.navbar-toggler:focus{
	box-shadow: none;
}
.navbar-toggler .navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28172, 81, 250, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-menu .nav-link{
	color: var(--rs-color-body);
	font-size: 16px;
	font-weight: var(--rs-fw-medium-small);
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}
.navbar-menu .nav-link.active,
.navbar-menu .nav-link:hover,
.navbar-menu .nav-link:focus{
	color: var(--rs-color-tpl);
}
@media screen and (max-width: 1199px){
	.navbar-menu .nav-link{
		padding-left: .75rem !important;
		padding-right: .75rem !important;
	}
}

/***************************************************
	header - cart
***************************************************/
.cart-header{
	position: relative;
	z-index: 1;
	width: 48px;
	text-align: right;
	padding-right: 10px;
}
.cart-header a{
	font-size: 26px;
	color: var(--rs-color);
	background: -webkit-linear-gradient(#EE31F7 0%, #AC51FA 100%);
	background: -o-linear-gradient(#EE31F7 0%, #AC51FA 100%);
	background: linear-gradient(#EE31F7 0%, #AC51FA 100%);
	background-clip: border-box;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.cart-header a span{
	background-color: var(--rs-color-tpl);
	-webkit-text-fill-color: white;
	border-radius: 50%;
	color: #fff;
	font-size: 11px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	z-index: 1;
	right: 0;
	top: -6px;
}

/***************************************************
	mini - cart
***************************************************/
.cart-drawer{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	right: -100%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
}
.cart-drawer.show{
	right: 0;
	opacity: 1;
	visibility: visible;
}
.cart-drawer .drawer-overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6667);
	position: relative;
	z-index: 1;
}
.cart-drawer .drawer-mini{
	max-width: 414px;
	height: 100%;
	overflow: auto;
	background-color: #fff;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.mini-head {
	font-size: 26px;
	font-weight: var(--rs-fw-medium);
	line-height: var(--rs-line-height);
	border-bottom: 2px solid var(--rs-color-tpl);
	padding: 15px 20px;
}
.mini-body {
	overflow: hidden;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.mini-products{
	overflow-y: auto;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 20px;
}
.mini-products > .mini-product + .mini-product{
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid var(--rs-border-color);
}
.mini-products .mini-product img{
	width: 90px;
}
.mini-products .mini-product .info{
	padding-left: 15px;
}
.mini-products .mini-product .title{
	font-size: 14px;
	margin-bottom: 0;
}
.mini-products .mini-product .title a{
	color: #000;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	white-space: normal;
	-webkit-box-orient: vertical;
}
.mini-products .mini-product .price{
	font-size: 14px;
}
.mini-products .mini-product .price span{
	font-size: 12px;
	color: var(--rs-color-gray);
}
.mini-products .mini-product .quantity .mini-quantity{
	width: 80px;
	border-radius: 0;
	line-height: var(--rs-line-height);
	font-size: 14px;
}
.mini-foot{
	box-shadow: 0 0 8px #0000004d;
}
.mini-foot .mini-total{
	padding: 25px 20px;
	font-size: 20px;
}
.mini-foot .btn-mini{
	font-size: 20px;
	border-radius: 0;
	padding-bottom: .5rem;
	padding-top: .5rem;
}
.mini-foot .mini-button .btn-viewcart{
	background-color: var(--rs-color-tpl);
	color: #fff;
}
.mini-foot .mini-button .btn-checkout{
	background-color: var(--rs-color);
	color: #fff;
}
@media screen and (max-width: 767px){
	.mini-foot .mini-total{
		font-size: 16px;
		padding: 15px;
	}
}

/***************************************************
	footer
***************************************************/
.footer{
	background-color: var(--rs-color-smoke);
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 14px;
}
footer a{
	color: var(--rs-color-body);
}
footer a:hover,
footer a:focus{
	color: var(--rs-color);
}
ul.company-info li{
	margin-bottom: 5px;
}
.card-footer{
	margin-bottom: 1.5rem
}
.card-footer .logo{
	margin-bottom: 30px;
}
.card-footer .logo img{
	max-width: 100%;
	max-height: 40px;
}
.card-footer .footer-title{
	position: relative;
	font-size: 16px;
	font-weight: var(--rs-font-medium);
	line-height: 1em;
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: var(--rs-color-tpl);
}
.card-footer .footer-title:after{
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	border-radius: 10px;
	height: 2px;
	width: 50px;
	background-color: var(--rs-color);
	background-image: -webkit-linear-gradient(to left, #fff, transparent);
	background-image: linear-gradient(to left, #fff, transparent);
}
.footer-menu a{
	margin-bottom: 5px;
}
.footer-menu-inline img{
	width: 35px;
}

/* ================================================
  copyright
================================================= */
.copyright-powered{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	font-size: 12px;
	background-color: var(--rs-color-tpl);
}
.copyright-powered a{
	color: #fff;
}
.powered-by{
	text-align: right;
}
@media (max-width:991px) {
	.copyright-powered{
  		padding-left: 0;
	}
}
@media (max-width: 1199px){
	.copyright-powered{
  		font-size: 12px;
	}
}
@media (max-width:767px) {
	.copyright,
	.powered-by{
  		text-align: center;
	}
	.powered-by{
  		margin-top: 5px;
	}
}

/* ==================================================
  PAGINATION
================================================== */
.pagination{
  display: inline-block;
  background-color: #fff;
  padding: 5px;
  border-radius: 27px;
}
.pagination li{
  display: -webkit-inline-flex;
  display: inline-flex;
  border-radius: 50%;
  overflow: hidden;
}
.pagination .page-link{
  color: #333;
  border-width: 0;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 33px;
}
.pagination li a:focus{
  box-shadow: none;
}
.pagination .page-item.active .page-link{
  background-color: var(--rs-color);
  border-color: var(--rs-color);
  color: #fff;
}

/* ================================================
  BREADCRUMB
================================================= */
.section-breadcumb .breadcrumb li,
.section-breadcumb .breadcrumb li a,
.section-breadcumb .breadcrumb-item + .breadcrumb-item:before{
  color: var(--rs-color-body)
}
.section-breadcumb{
	background-color: var(--rs-color-smoke);
	  padding-top: 12px;
	  padding-bottom: 12px;
}
.section-breadcumb .breadcrumb li{
  text-transform: uppercase;
  font-size: 14px
}
@media (max-width: 767px) {
  .section-breadcumb{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .section-breadcumb .breadcrumb li{
    font-size: 13px;
    text-transform: inherit;
  }
}

/***************************************************
	product - card
***************************************************/
.card-product .img{
	position: relative;
	padding-top: 100%;
	width: 100%;
	border: 1px solid var(--rs-border-color);
}
.card-product .img img{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
.card-product .title{
	font-size: 18px;
	color: var(--rs-color);
	text-transform: uppercase;
	font-weight: var(--rs-fw-medium);
}
.card-product .title a{
	color: var(--rs-color-body);
}
.card-product .title a:hover,
.card-product .title a:focus{
	color: var(--rs-color);
}
.card-product .price {
	color: var(--rs-color-tpl);
}
.card-product .price span{
	color: var(--rs-color-gray);
}
.card-product .intro{
	color: var(--rs-color-gray);
}
@media screen and (min-width: 768px){
	.card-product{
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column !important;
	}
	.card-product .info{
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column !important;
		align-items: flex-start;
	}
	.card-product .title{
		margin-bottom: auto;
	}
	.card-product .title a{
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		white-space: normal;
		-webkit-box-orient: vertical;
	}
	.card-product .intro{
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 3;
		white-space: normal;
		-webkit-box-orient: vertical;
	}
}
@media screen and (max-width: 767px){
	.card-product .title{
		font-size: 14px;
	}
	.card-product .price span{
		font-size: 14px;
	}
	.card-product .intro{
		font-size: 13px;
	}	
}

/***************************************************
	product - card
***************************************************/
.section-video{
	background-color: rgba(var(--rs-color-rgb),.3333);
	padding-top: 1.5rem;
	padding-bottom: 1.1rem;
}
.card-video .video-frame iframe{
	width: 100%;
	height: 357px;
}
@media screen and (max-width: 1399px){
	.card-video .video-frame iframe{
		height: 307px;
	}
}
@media screen and (max-width: 1199px){
	.card-video .video-frame iframe{
		height: 256px;
	}
}
@media screen and (max-width: 991px){
	.card-video .video-frame iframe{
		height: 189px;
	}
}
@media screen and (max-width: 767px){
	.card-video .video-frame iframe{
		height: 290px;
	}
}
@media screen and (max-width: 575px){
	.card-video .video-frame iframe{
		height: 219px;
	}
}

/***************************************************
	testimonial - card
***************************************************/
.webTestimonial-wrapper .swiper-testimonial{
	padding-bottom: 50px;
}
.webTestimonial-wrapper .swiper-testimonial .swiper-pagination-bullet{
	width: 12px;
	height: 12px;
}
.webTestimonial-wrapper .swiper-testimonial .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color: var(--rs-color-tpl)
}

.card-testimonial .testimonial-intro{
	border: 2px solid rgba(var(--rs-color-tpl-rgb),.55);
	padding: 20px;
	margin-bottom: 20px;
}
.card-testimonial .testimonial-intro .testimonial-quote{
	font-size: 60px;
	margin-bottom: 20px;
	color: rgba(var(--rs-color-rgb),.8);
}
.card-testimonial .testimonial-info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center !important;
}
.card-testimonial .testimonial-info .img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 0;
  	flex-shrink: 0;
}
.card-testimonial .testimonial-info .img img{
	width: 70px;
	height: 70px;
	max-width: 100%;
	border-radius: 999px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-o-object-fit: cover;
	object-fit: cover;
}
.card-testimonial .testimonial-info .title{
	padding-left: 20px;
}
.card-testimonial .testimonial-info .name{
	font-size: 16px;
	margin-bottom: 0;
}
.card-testimonial .testimonial-info .date{
	font-size: 14px;
	color: var(--rs-color-gray);
}
@media screen and (min-width: 992px){
	.card-testimonial .testimonial-intro .content-detail{
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 5;
		white-space: normal;
		-webkit-box-orient: vertical;
		font-size: 14px;
	}
}
@media screen and (max-width: 991px){
	.card-testimonial .testimonial-intro .testimonial-quote{
		font-size: 30px;
	}
	.card-testimonial .testimonial-intro{
		padding: 15px;
		padding-bottom: calc(20px - 1rem);
	}
	.card-testimonial .testimonial-intro .content-detail{
		font-size: 13px;
	}
	.card-testimonial .testimonial-info .name{
		font-size: 15px;
	}
	.card-testimonial .testimonial-info .date{
		font-size: 13px;
	}
}

/***************************************************
	section
***************************************************/
.title-section{
	margin-bottom: 40px;
	font-size: 22px;
	text-transform: uppercase;
}
.title-page{
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: var(--rs-fw-medium);
	color: var(--rs-color-body);
}
.section-sticky{
	position: sticky;
  	top: 120px;
}
.content-detail img{
	max-width: 100% !important;
}
@media screen and (max-width: 991px){
	.title-section{
		margin-bottom: 30px;
		font-size: 20px;
	}
	.title-page{
		margin-bottom: 15px;
		font-size: 18px;
	}
}
@media screen and (max-width: 767px){
	.title-section{
		margin-bottom: 20px;
		font-size: 18px;
	}
	.content-detail{
		font-size: 13px;
	}
	.content-detail img{
		height: auto !important;
	}
}

/***************************************************
	product detail
***************************************************/
.product-detail{
	position: sticky;
	top: 120px;
}
.product-detail .title{
	font-size: 26px;
}
.product-detail .price{
	font-size: 20px;
}
.product-detail .price span{
	font-size: 16px;
	color: var(--rs-color-gray);
}
.product-detail .button-add-cart{
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid var(--rs-border-color);
	border-bottom: 1px solid var(--rs-border-color);
}
.button-add-cart .input-add-cart{
	width: 140px;
}
.button-add-cart .input-group-text{
	width: 40px;
	justify-content: center;
	cursor: pointer;
}
.button-add-cart .input-group-text:hover{
	color: var(--rs-color-tpl);
}
.kenhbanhang-menu a{
	display: inline-block;
	border: 1px solid var(--rs-border-color);
	padding: 5px 10px;
	margin-right: 10px;
}
.kenhbanhang-menu img{
	height: 30px;
}
@media screen and (max-width: 991px){
	.product-detail{
		top: 88px;
	}
	.product-detail .title{
		font-size: 20px;
	}
	.product-detail .price{
		font-size: 16px;
	}
	.product-detail .price span{
		font-size: 14px;
	}
	.kenhbanhang-menu a{
		display: block;
		text-align: center;
	}
	.kenhbanhang-menu > a + a{
		margin-top: 10px;
	}
}

/* accordion */
.accordionOverview .accordion-item{
	border-radius: 0;
	margin-bottom: 15px;
	border-color: var(--rs-border-color);
}
.accordionOverview .accordion-button{
	box-shadow: none;
	border-radius: 0 !important;
	padding-bottom: .75rem;
	padding-top: .75rem;
}
.accordion-item:not(:first-of-type){
	border-top: 1px solid var(--rs-border-color);
}

/***************************************************
	news
***************************************************/
.card-news{
	background-color: var(--rs-color-smoke);
}
.card-news .img{
	position: relative;
	height: 277px;
	overflow: hidden;
}
.card-news .title{
	font-weight: var(--rs-fw-medium);
}
.card-news .title a{
	color: var(--rs-color-body);
}
.card-news .intro{
	color: var(--rs-color-gray);
	display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    white-space: normal;
    -webkit-box-orient: vertical;
}
@media screen and (min-width: 768px){
	.card-news .title{
		font-size: 20px;
		min-height: 57px;
		display: -webkit-box;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -webkit-line-clamp: 2;
	    white-space: normal;
	    -webkit-box-orient: vertical;
	}
}
@media screen and (max-width: 767px){
	.card-news .title{
		font-size: 16px;
	}
	.card-news .intro{
		font-size: 13px;
	}
}

/***************************************************
	news detail
***************************************************/
.news-recent{
	background-color: var(--rs-color-smoke);
}
.news-recent .recent-title{
	font-size: 18px;
	text-transform: uppercase;
}
.recent-list .recent-item + .recent-item{
	margin-top: 20px;
}
.recent-list .recent-item .img-wrapper{
	height: 80px;
	width: 120px;
	overflow: hidden;
}
.recent-list .recent-item img{
	width: 100%;
}
.recent-list .recent-item .title {
	font-size: 15px;
	display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    white-space: normal;
    -webkit-box-orient: vertical;
}
.recent-list .recent-item .title a{
	color: var(--rs-color-body);
}
@media screen and (max-width: 991px){
	.recent-list .recent-item + .recent-item{
		margin-top: 15px;
	}
}

/***************************************************
	consultant
***************************************************/
.box-consultant{
	background-color: var(--rs-color-smoke);
	border-radius: 10px;
	overflow: hidden;
	border: 2px solid var(--rs-color-tpl)
}
.box-consultant .title{
	font-size: 18px;
	text-transform: uppercase;
}
.form-consultant .form-control{
	font-size: 14px;
}

/***************************************************
	cart
***************************************************/
.cart-right-list .cart-right-item {
	margin-bottom: 1rem;
}
.cart-right-list .cart-right-item .name{
	font-size: 14px;
	margin-bottom: 5px;
}















